/* .mainContainer{
  height: 80vh;
  
}
.row{
  height: 100%;
 
}
.cd-box2 {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.322);
  font-family: "Montserrat", sans-serif;
  height: 100%;

}

.cd-heading1 {
  color: #3498db;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 25px 0 0px 10px;
}

.cd-heading2 {
  display: inline-block;
  clip: rect(0px, 0px, 300px, 0px);
  color: #575757;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 10px;
}

.cd-heading3 {
  padding: 30px 0 0 10px;
  color: black;
  font-size: 1rem;
  opacity: 0.6;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.cd-button-div {
  justify-content: space-around;
  text-align: center;
  flex: 50%;
}
.button-inf {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  margin-top: 3.5rem;
}

.cd-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  cursor: pointer; */
  /* display: flex; */
  /* align-self: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.8em 0.6em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 14rem;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.cd-button:hover {
  color: black;
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.cd-button:focus {
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
.iamgeContainer{
  background-color: #3498db;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  
}
@media (max-width: 600px) {
  .button-inf {
    flex-direction: column;
  }
  .cd-button {
    width: 300px;
  }
  .iamgeContainer{
    display: none;
  }
} */
body{
  /* background-image:url("../../../public/Images/background.jpg") ; */
  /* background-color: rgb(224, 237, 242); */
  background-color: rgb(245, 249, 252);
  background-position: center;
  background-size: cover;
}
.mainContainer{
  height: 100vh;
}
.row{
  height: 80%;
 
}
.cd-box2 {
  border-radius: 20px;
  font-family: Roboto, sans-serif;
  height: 100%;
}
.cd-button-div a{
    text-decoration: none;
}
.cd-heading1 {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  letter-spacing: -1.5%;
  margin-top: 30px;
  font-weight: 500;
  padding: 25px 0 0px 10px;
}

.cd-heading2 {
  display: inline-block;
  clip: rect(0px, 0px, 300px, 0px);
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  padding-left: 10px;
}

.cd-heading3 {
  padding: 30px 0 0 10px;
  color: black;
  font-size: 20px;
  font-weight: 300;
  /* letter-spacing: 0.7px; */
}

.cd-button-div {
  display: inline-flex;
  text-align: center;
}
.button-inf {
  font-size: 30px;
  margin-top: 3.5rem;
}

.cd-button {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #263238;
  background-color: white;
  padding: 10px 50px;
  margin:10px; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 4px;
}
.imageContainer{
  background-image: url("../../../public/Images/Company_dashboard.jpg");
  background-position: center center;
  /* max-height: 450px; */
  margin-top:40px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 18px black;
  
}
.svgWave{
  position: absolute;
  bottom: 0px;
  top: 530px;
  left:0px;
  right:0px;
  z-index:-100;
}
@media (max-width: 1000px) {
  .button-inf {
    flex-direction: column;
  }
  .cd-button {
    width: 300px;
  }
  .imageContainer {
    display: none;
  }
  .svgWave{
    top:750px
  }
}