*{
    margin: 0px;
    padding: 0px;
}
.formbody{
 width: 50%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 /* font-family: 'Merriweather Sans', sans-serif; */

}
.formHeading{
    /* font-family: 'Montserrat', sans-serif; */
 font-family: 'Merriweather Sans', sans-serif;

}

